.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 8px;
  display: inline-block;
  position: relative;
}
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background: var(--cor-10);
  }

  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
.header-menu .dropdown {
  position: relative;
  display: inline-block;
}

.header-menu .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--cor-12);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.header-menu .dropdown .dropdown-content a {
  color: var(--cor-0);
  text-decoration: none;
}

.header-menu .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-content-submenu {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  min-width: 160px;
  z-index: 1;
  background-color: var(--cor-12);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: opacity 0.5s ease;
  opacity: 0;
}

.dropdown-content-submenu a {
  color: var(--cor-0);
  text-decoration: none;
}

.dropdown-submenu:hover .dropdown-content-submenu {
  display: block;
  opacity: 1;
}

@media (max-width: 600px) {
  .header-menu .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cor-12);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .header-menu .dropdown .dropdown-content a {
    color: var(--cor-0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .header-menu .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
  }
}
